In [ ]:
import h5py
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import astropy.units as u
import astropy.coordinates as coord

:

In [17]:
file0 = '/ocean/projects/phy210068p/hsu1/Ananke_datasets_training/Gaiadr3_data/DR3_6D_kinematics_0_to_8000000.csv'
file1 = '/ocean/projects/phy210068p/hsu1/Ananke_datasets_training/Gaiadr3_data/DR3_6D_kinematics_8000000_to_16000000.csv'
file2 = '/ocean/projects/phy210068p/hsu1/Ananke_datasets_training/Gaiadr3_data/DR3_6D_kinematics_16000000_to_24000000.csv'
file3 = '/ocean/projects/phy210068p/hsu1/Ananke_datasets_training/Gaiadr3_data/DR3_6D_kinematics_24000000_to_32000000.csv'
files = [file0, file1, file2, file3]
path_out = '/ocean/projects/phy210068p/hsu1/Ananke_datasets_training/GaiaDR3_data_reduced.hdf5'

In [18]:
keys = ['source_id', 'b', 'dec' ,'l', 'parallax', 'pmdec', 
         'pmra', 'ra', 'radial_velocity', 
        'radial_velocity_error']

In [19]:
for j in keys:
    data = []
    for i in range(len(files)):
        df = pd.read_csv(files[i])
        data = np.append(data, df[j][:][mask])
    with h5py.File(path_out, 'a') as f_out: 
        f_out.create_dataset(j, data=data)
    print(j)

source_id
b
dec
l
parallax
pmdec
pmra
ra
radial_velocity
radial_velocity_error

In [8]:
# for j in keys:
#     for i in range(len(files)):
#         df = pd.read_csv(files[i])
#         poe = df['parallax_over_error'][:]
#         mask = (poe>10)
#         df_out = pd.Series(df[j][:][mask])
#         df_out.to_hdf(path_out, key=j, mode='a', append=True)
#     print(j)

source_id
b
dec
l
parallax
pmdec
pmra
ra
radial_velocity
radial_velocity_error

In [9]:
csv0 = pd.read_csv(file0)
source_id0 = csv0['source_id'][:]
length0 = len(source_id0)
csv1 = pd.read_csv(file1)
source_id1 = csv1['source_id'][:]
length1 = len(source_id1)
csv2 = pd.read_csv(file2)
source_id2 = csv2['source_id'][:]
length2 = len(source_id2)
csv3 = pd.read_csv(file3)
source_id3 = csv3['source_id'][:]
length3 = len(source_id3)
csv_length = length0+length1+length2+length3
csv_source_id = np.concatenate((source_id0, source_id1, source_id2, source_id3), axis=0)

In [13]:
csv3.head()

,source_id,ra,dec,l,b,parallax,parallax_error,pmra,pmra_error,pmdec,...,radial_velocity_error,rv_template_fe_h,parallax_over_error,phot_g_mean_mag,nu_eff_used_in_astrometry,pseudocolour,ecl_lat,astrometric_params_solved,rv_nb_transits,rv_expected_sig_to_noise
0,2262818672542474368,286.461251,70.753663,101.766716,24.334883,1.630623,0.129435,5.646289,0.165012,6.919139,...,NaN,NaN,12.598010,18.503294,1.256747,NaN,82.724690,31,NaN,NaN
1,2262818711198548864,286.512250,70.753904,101.771093,24.318551,1.129829,0.012030,-2.433417,0.014566,-6.887627,...,3.432266,-0.25,93.919970,13.825920,1.530965,NaN,82.709611,31,19.0,8.542688
2,2262818844341165696,286.383439,70.752382,101.759087,24.359607,3.840944,0.080148,-22.284236,0.102510,-32.532249,...,NaN,NaN,47.923050,17.723890,1.278868,NaN,82.748090,31,NaN,NaN
3,2262818848637495296,286.383740,70.758684,101.765857,24.360907,0.850693,0.033086,1.995095,0.038543,-9.337952,...,NaN,NaN,25.711828,15.675858,1.497720,NaN,82.745112,31,NaN,NaN
4,2262818878700916992,286.384345,70.771316,101.779427,24.363512,1.208858,0.080948,-7.955029,0.098919,-13.633995,...,NaN,NaN,14.933844,17.830658,1.333077,NaN,82.739130,31,NaN,NaN

In [14]:
csv0.head()

,source_id,ra,dec,l,b,parallax,parallax_error,pmra,pmra_error,pmdec,...,radial_velocity_error,rv_template_fe_h,parallax_over_error,phot_g_mean_mag,nu_eff_used_in_astrometry,pseudocolour,ecl_lat,astrometric_params_solved,rv_nb_transits,rv_expected_sig_to_noise
0,4268081389197688832,287.097942,2.255592,36.875878,-2.738616,1.087730,0.064813,-3.451109,0.067135,0.689996,...,NaN,NaN,16.782547,16.298550,1.395885,NaN,24.583046,31,NaN,NaN
1,4268081419203448832,287.086588,2.262380,36.876706,-2.725421,3.217205,0.167108,-4.861961,0.158715,-36.358521,...,NaN,NaN,19.252298,17.386929,1.276876,NaN,24.591236,31,NaN,NaN
2,4267993187749087744,288.687043,2.679046,37.983717,-3.953846,0.798789,0.062675,-2.727043,0.074022,1.258720,...,NaN,NaN,12.744993,16.832579,1.447969,NaN,24.789112,31,NaN,NaN
3,4268038611270049280,287.622232,2.288930,37.146324,-3.188743,2.310382,0.134425,0.645100,0.170991,-18.372718,...,NaN,NaN,17.187159,18.276290,NaN,1.204055,24.547733,95,NaN,NaN
4,4268155743675428608,288.429945,2.593978,37.789473,-3.765071,1.241924,0.073156,0.578822,0.077503,-2.071409,...,NaN,NaN,16.976328,16.857304,NaN,1.390282,24.740682,95,NaN,NaN

In [20]:
with h5py.File(path_out, 'r') as f:
    print(f.keys())
    # source_id = f['source_id'][:]
    ra = f['ra'][:]

<KeysViewHDF5 ['b', 'dec', 'l', 'parallax', 'pmdec', 'pmra', 'ra', 'radial_velocity', 'radial_velocity_error', 'source_id']>

In [21]:
ra.shape

(32000000,)

In [11]:
csv_length, len(source_id),

NameError: name 'source_id' is not defined

In [ ]:
np.sum(~np.isin(source_id, csv_source_id))

In [ ]:
path = '/ocean/projects/phy210068p/hsu1/Ananke_datasets_training/GaiaDR3_data_reduced_before_BPRP.hdf5'
with h5py.File(path, 'r') as f:
    print(f.keys())
    # ra = f['ra'][:]
    # dec = f['dec'][:]
    # parallax = f['parallax'][:]
    # pmra = f['pmra'][:]
    # pmdec = f['pmdec'][:]
    # rv = f['radial_velocity'][:]
    # main_source_id = f['source_id'][:]

: